<div class="section" id="skill">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Skills</div>
    <div class="row">
      <mat-card class="skillcard">
        <table class="skillsTable">
          <tr>
            <th>
              LANGUAGES
            </th>
            <th>
              <button mat-button>Java</button>
              <button mat-button>SQL</button>
              <button mat-button>Android</button>
              <button mat-button>C#</button>
            </th>
          </tr>
          <tr>
            <th>
              WEB TECHNOLOGIES
            </th>
            <th>
              <button mat-button>HTML</button>
              <button mat-button>CSS</button>
              <button mat-button>Javascript</button>
              <button mat-button>TypeScript</button>
              <button mat-button>REST API</button>
              <button mat-button>SCSS</button>
            </th>
          </tr>
          <tr>
            <th>
              FRAMEWORKS
            </th>
            <th>
              <button mat-button class="skillsButton">Angular</button>
              <button mat-button class="skillsButton">Spring Boot</button>
              <button mat-button class="skillsButton">Spring MVC</button>
              <button mat-button class="skillsButton">Hibernate</button>
              <button mat-button class="skillsButton">ASP.NET</button>
            </th>
          </tr>
          <tr>
            <th>
              DATABASES
            </th>
            <th>
              <button mat-button class="skillsButton">MSSQL</button>
              <button mat-button class="skillsButton">Oracle</button>
              <button mat-button class="skillsButton">Google Firebase</button>
              <button mat-button class="skillsButton">MySQL</button>
            </th>
          </tr>
          <tr>
            <th>
              TOOLS
            </th>
            <th>
              <button mat-button class="skillsButton">Ansible</button>
              <button mat-button class="skillsButton">Maven</button>
              <button mat-button class="skillsButton">Git</button>
              <button mat-button class="skillsButton">SVN</button>
              <button mat-button class="skillsButton">JIRA</button>
              <button mat-button class="skillsButton">Jenkins</button>
              <button mat-button class="skillsButton">
                Veracode (Vulnerability Mitigation)
              </button>
              <button mat-button class="skillsButton">SSRS Reporting</button>
              <button mat-button class="skillsButton">Confluence</button>
              <button mat-button class="skillsButton">Docker</button>
            </th>
          </tr>
        </table>
      </mat-card>
    </div>
  </div>
</div>
