.skillsbg {
  margin-top: 12%;
  background-color: white;
  width: 100%;
  height: 700px;
}

.skillcard {
  margin-top: 2%;
  // margin-left: 1.3%;
  min-width: 100%;
  min-height: 425px;
  background-color: white;
  background: white;
  //border-radius: 5px;
  box-shadow: 0 1px 3px rgba(180, 140, 140, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  &:hover {
    box-shadow: 28px 28px 28px rgba(0.22, 0.22, 0.22, 0.22),
      20px 20px 20px rgba(0.22, 0.22, 0.22, 0.22);
    transition: all 0.3s cubic-bezier(1, 1, 1, 1);
  }
}

.skillTitle {
  padding-top: 2%;
  text-align: center;
  letter-spacing: 0.05em;
  font-family: Verdana;
  font-size: 25px;
}

.skillsTable {
  // margin-left: 15%;
  margin-top: 3%;
}

.mat-button {
  border-radius: 20px;
  border-color: white;
  border: 2px solid rgba(255, 255, 255, 0.486);
  &:hover {
    color: rgba(255, 255, 255, 0.486);
    cursor: pointer;
  }
}
th,
td {
  padding: 10px;
  border: none;
}

th {
  text-align: left;
}
