<div class="section" id="about">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">About Me</div>
            <p>
              Presenting a Versatile, Passionate and experienced Software
              developer, a graduate student from Stony Brook University majoring
              in Electrical and Computer Engineering. I have an experience of 3
              years working in BNY Mellon Technology, developing full stack web
              applications, primarily using Java and Angular framework , that
              cater a wide range of users across the organization.
            </p>

            <p>
              As a person who believes that knowledge without application is
              like a book that is never read, I love to get my hands dirty by
              working a lot on code and bringing out user friendly applications.
              I enjoy solving new problems and learning new technologies and
              developing productive solutions.
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Basic Information</div>
            <div class="row">
              <div class="col-sm-4">
                <strong class="text-uppercase">Date of Birth:</strong>
              </div>
              <div class="col-sm-8">September 10, 1994</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Email:</strong>
              </div>
              <div class="col-sm-8">vigneshc994@gmail.com</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Phone:</strong>
              </div>
              <div class="col-sm-8">+1 631 438 7908</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Languages:</strong>
              </div>
              <div class="col-sm-8">English, Tamil, Telugu</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
