<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2019 - 2020</p>
              <div class="h5">Master's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Master of Science</div>
               <h4 class="category">Stony Brook University
               </h4>
               CGPA - 3.84 / 4 <br>
               Coursework:
               <ul>
                <li>Analysis of Algorithms</li>
                <li>Data Structures</li>
                <li>Mobile Cloud Computing (Android Apps with Cloud)</li>
                <li>Network Security Engineering</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2012 - 2016</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Bachelor of Engineering</div>
               <h4 class="category">Anna University
               </h4>
               CGPA - 8.46 / 10 <br>
               Coursework:
               <ul>
                <li>Data Structures </li>
                <li>Object Oriented Programming Language</li>
                <li>Computer Networks</li>
                <li>Computer Architecture</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>