<div class="section" id="projects">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Projects</div>

    <div class="row">
      <div
        class="col-md-4 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <h4 class="card-title" style="text-align: center;">
              Personal Portfolio
            </h4>
            <img
              class="card-img-top"
              src="assets/images/port-rs.png"
              alt="Card image"
              style="width: 100%; height: 60%;"
            />
            <div class="card-body">
              <h5 class="card-text"><b>Tech Stack: </b></h5>
              <h5 class="card-text">Angular</h5>

              <a
                href="https://github.com/vignesh-chivukula/Portfolio"
                target="_blank"
                class="btnexp btn-primary stretched-link"
                >Explore Further</a
              >
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-4 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <h4 class="card-title" style="text-align: center;">
              Road Side Assistance
            </h4>
            <img
              class="card-img-top"
              src="assets/images/ra-rs.png"
              alt="Card image"
              style="width: 100%;"
            />
            <div class="card-body">
              <h5 class="card-text"><b>Tech Stack: </b></h5>
              <h5 class="card-text">Angular, Node.js, MySQL, SCSS</h5>

              <a
                href="https://github.com/vignesh-chivukula/Road-side-assistance"
                target="_blank"
                class="btnexp btn-primary stretched-link"
                >Explore Further
              </a>
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-4 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <h4 class="card-title" style="text-align: center;">EZ Jobs</h4>
            <img
              class="card-img-top"
              src="assets/images/ez-rs.png"
              alt="Card image"
              style="width: 100%;"
            />
            <div class="card-body">
              <h5 class="card-text"><b>Tech Stack: </b></h5>

              <h5 class="card-text">Android SDK, Java, Firebase</h5>

              <a
                href="https://github.com/vignesh-chivukula/job-portal"
                target="_blank"
                class="btnexp btn-primary stretched-link"
                >Explore Further</a
              >
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-4 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <h4 class="card-title" style="text-align: center;">
              Human Sensing & Pose recognition
            </h4>
            <img
              class="card-img-top"
              src="assets/images/pose-rs.png"
              alt="Card image"
              style="width: 100%;"
            />
            <div class="card-body">
              <h5 class="card-text"><b>Tech Stack: </b></h5>
              <h5 class="card-text">Python</h5>
              <a
                href="https://github.com/vignesh-chivukula/Human-Pose-Recognition"
                target="_blank"
                class="btnexp btn-primary stretched-link"
                >Explore Further</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
